P2/3500 nodes grams 2 to 12.png
P2/P2.zip
P2/RNN_200size_500seq.png
P2/__pycache__/
P2/homework2-classification_solutions.pdf
P2/input_ahhhhh.csv
P2/labels_ahhhh.csv
P2/practical-2-classifying.pdf
P2/test.tar.gz
P2/test/
P2/train.tar.gz
P2/train/
P3/.ipynb_checkpoints/
P3/6.csv
P3/7.csv
P3/CNN.csv
P3/CNN_2.csv
P3/CNN_alldata.csv
P3/CNN_alldata.png
P3/download (1).wav
P3/download.wav
P3/knnpred.csv
P3/lrpred.csv
P3/mlppred.csv
P3/plot_CNN_2.png
P3/pred.csv
P3/rfpred.csv
P3/svpred.csv
P3/test.csv
P3/test.csv.gz
P3/train.csv
P3/train.csv.gz
